.nav-link-hover-border {
  border-radius: 18px; 
  padding: 12px 12px;
  transition: background-color 0.3s ease; 
  color: white; 
}

.nav-link-hover-border:hover {
  background-color: #a53205; 
  color: #212529; 
}