html, body, #root, .app-container {
    height: 100%;
    margin: 0;
}


.app-container {
    display: flex;
    flex-direction: column; 
}


.main-content-wrapper {
    flex-grow: 1; 
    width: 100%;
}


































